table, tr,td{
    height: 150px;
    width: 500px;
    border: 1px solid;
}

tr,td{
    text-align: center;
}

.num1{
    background-color: rgb(204, 202, 202);
    color: rgb(26, 85, 194);
}

.UID{
    background-color: rgb(204, 202, 202);
    color: rgb(26, 85, 194);
}

.spring{
    background-color: rgb(204, 202, 202);
    color: rgb(26, 85, 194);
}

.about{
    background-color: rgb(182, 208, 255);
    color: rgb(56, 120, 156);
}

.courses{
    background-color: rgb(182, 208, 255);
    color: rgb(56, 120, 156);
}